@{
	ViewBag.Title = "Contact";
}
@model webpage_parser.Models.ParseResultModel

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (Model != null)
{
	if (Model.ImageUrls.Any())
	{
		foreach (var imageUrl in Model.ImageUrls)
		{
			<img src="@imageUrl" alt="Parsed Image" />
		}
	}
	if (Model.TopWordCounts.Count > 0)
	{
		<div>
			@foreach (var wordCount in Model.TopWordCounts)
			{
				<p>
					<span>@wordCount.Key</span> : <span>@wordCount.Value</span>
				</p>

			}
		</div>
	}
}
else
{
	<p>Sorry something went wrong! Please try with some other url!</p>
	<span>@Html.ActionLink("Home", "Index", "Home")</span>
}