@{
	ViewBag.Title = "Results";
}
@model webpage_parser.Models.ParseResultModel

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@if (Model != null)
{
	if (Model.ImageUrls != null && Model.ImageUrls.Any())
	{
		<h3>Parsed Images</h3>
		<div class="img-container">
			@foreach (var imageUrl in Model.ImageUrls)
			{
				<img src="@imageUrl" alt="Parsed Image" />
			}
		</div>
	}
	if (Model.TopWordCounts != null && Model.TopWordCounts.Count > 0)
	{
		<h3>Word Counts</h3>
		<table id="wordcount">
			<tr>
				<th>Word</th>
				<th>Count</th>
			</tr>
			@foreach (var wordCount in Model.TopWordCounts)
			{
				<tr>
					<td>@wordCount.Key</td>
					<td>@wordCount.Value</td>
				</tr>
			}
		</table>
	}
}
else
{
	<p>Sorry something went wrong! Please try with some other url!</p>
	<span>@Html.ActionLink("Home", "Index", "Home")</span>
}